---
- hosts: frontend
  become: true

  vars:
    backend_ip: "{{ hostvars[groups['backend'][0]].inventory_hostname }}"

  tasks:

    - name: Disable SELinux
      selinux:
        state: disabled

    - name: Update DNF repositories
      dnf:
        name: "*"
        state: latest

    - name: Install Nginx
      dnf:
        name: nginx
        state: present

    - name: Remove default Nginx config
      file:
        path: /etc/nginx/conf.d/default.conf
        state: absent

    - name: Configure Nginx proxy
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/nginx.conf
      notify:
        - restart nginx

  handlers:
    - name: restart nginx
      systemd:
        name: nginx
        state: restarted
